In [1]:
v = {}
type(v)

dict

In [3]:
values = {12,2,3,4,56,56}
print(values)

{2, 3, 4, 56, 12}

In [5]:
set1 = set()
print(set1)

set()

In [6]:
value_set = {2, 'PYTHON', 'a',5,9.4}
value_set

{2, 5, 9.4, 'PYTHON', 'a'}

write a python code to access an element in the set

In [8]:
value_set.add("apple")
value_set

{2, 5, 9.4, 'PYTHON', 'a', 'apple'}

deleting a element in a set

In [3]:
v = {2, 'PYTHON', 'a', 5, 9.4}
v

{2, 5, 9.4, 'PYTHON', 'a'}

In [5]:
v.remove('PYTHON')
v

{2, 5, 9.4, 'a'}

write a python code to get the set elements from the user and print the elements in the created set?

In [2]:
value_set = set()
n = int(input())
for i in range (n):
    value_set.add(int(input()))

 4
 12
 26
 10
 4

In [3]:
value_set

{4, 10, 12, 26}

In [4]:
for i in value_set:
    print(i)

26
10
12
4

write a python code to check whether the element got from the user is preentin the value_set

In [24]:
value_set = {6,'hey',26,10}
n = input()
for n in value_set:
    if n == value_set:
        print("The input is correct")
        break
    else:
        print("invalid")
        break

 hey

invalid

UNION OF TWO SETS

In [33]:
month1_set = {"jan","feb","march","april","august"}
month2_set = {"may","june","july","august","jan"}
month2_set

{'august', 'jan', 'july', 'june', 'may'}

In [34]:
month = month1_set| month2_set
month

{'april', 'august', 'feb', 'jan', 'july', 'june', 'march', 'may'}

In [35]:
month_common = month1_set.union(month2_set)
month_common

{'april', 'august', 'feb', 'jan', 'july', 'june', 'march', 'may'}

INTERSECTION OF TWO SETS

In [36]:
common = month1_set.intersection(month2_set)
common

{'august', 'jan'}

In [37]:
common = month1_set & month2_set
common

{'august', 'jan'}

DIFFRENCE OF TWO SETS

In [39]:
diff = month1_set - month2_set
diff

{'april', 'feb', 'march'}

In [40]:
diff= month1_set.difference(month2_set)
diff

{'april', 'feb', 'march'}

SET COMPARISIONS

In [41]:
month1_set = {"jan","feb","dec","mar"}
month2_set = {"jan","feb"}

In [42]:
month1_set > month2_set

True

In [43]:
month1_set < month2_set

False

DICTIONARIES

In [1]:
dic = {}
print(dic)

{}

In [2]:
dic = {1:"focus",2:"Academy", 3:"for",4:"career"}
print(dic)

{1: 'focus', 2: 'Academy', 3: 'for', 4: 'career'}

In [3]:
dic = dict({1:[2,4,5],"Name": "face", 4:[5,7]})
print(dic)

{1: [2, 4, 5], 'Name': 'face', 4: [5, 7]}

In [6]:
dic = {1:"FACE", 2:4, 3 :{5:"hello",6:9.5}}
print(dic)

{1: 'FACE', 2: 4, 3: {5: 'hello', 6: 9.5}}

basic set comprehension

In [1]:
numbers = [1,2,3,4,5]
squared_numbers = {x**2 for x in numbers}
print(squared_numbers)

{1, 4, 9, 16, 25}

In [2]:
words = ['apple','banana','cherry','lyn']
vowels = {'a','e','i','o','u'}
vowel_words = {word for word in words if any (letter in vowels for letter in word)}
print(vowel_words)

{'banana', 'apple', 'cherry'}

In [4]:
duplicates = [1,2,3,4,5,3,1,6]
unique_squares = {x**2 for x in duplicates}
print(unique_squares)

{1, 4, 36, 9, 16, 25}

In [5]:
text = "hello world"
uppercase_letters = {char.upper() for char in text if char.isalpha()}
print(uppercase_letters)

{'R', 'E', 'H', 'O', 'W', 'L', 'D'}

dictionary comprehension

In [6]:
squares ={x:x**2 for x in range (5)}
print (squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [7]:
cubes = {x:x**3 for x in range (10) if x % 2 == 0}
print(cubes)

{0: 0, 2: 8, 4: 64, 6: 216, 8: 512}

In [8]:
keys = ['a','b','c']
values = [1,2,3]
my_dict = {keys[i] : values[i]for i in range (len(keys))}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

swapping keys and values

In [9]:
original = {'a':1,'b':2,'c':3}
swapped = {v: k for k , v in original .items()}
print(swapped)

{1: 'a', 2: 'b', 3: 'c'}

In [10]:
original = {'a':1,'b':2,'c':3}
transformed = {k:v * 10 for k , v in original.items()}
print(transformed)

{'a': 10, 'b': 20, 'c': 30}

In [11]:
numbers = [1,2,3,4]
nested_dict = {x : {'square':x**2, "cube":x**3} for x in numbers}
print(nested_dict)

{1: {'square': 1, 'cube': 1}, 2: {'square': 4, 'cube': 8}, 3: {'square': 9, 'cube': 27}, 4: {'square': 16, 'cube': 64}}

In [ ]:
keys = ['a','b','c','d']
values = [1,2,3,4]
filtered_dict =  {keys